@font-face{
	font-family:OpenSans;
 	src: url('Opensans-Regular.ttf') format('truetype');
}
@font-face{
	font-family:font1_negrita;
	src: url('titulos.ttf') format('truetype');
}
#franja_superior{
	position:absolute;
	top:0px;
	left:0px;
	height:135px;
	width:100%;
	border-top:10px solid black;
	border-bottom:40px solid black;
}
body{
	background:white;
	background:url('../img_html/fondo_azul_375.jpg');
	background-repeat:repeat-x;
	background-position:10% 0px;
	margin:0;
	padding:0;
	max-width:2000px;
	overflow-y:scroll;
}
#icono_actividad{
	margin-bottom:15px;
	border-bottom:13px solid #3e332f;
	width:250px;
	height:67px;
	background-color:white;
	border-radius:6px;
}
#icono1{
	width:105px;
	height:68px;
	text-align:center;
	float:left
}
#icono2{
	font-family:font1_negrita;
	color:#3e332f;
	font-size:33px;
	width:123px;
	line-height:65px;
	float:left;
	text-align:center;
}
#volver{
	position:relative;
	font-family:font1_negrita;
	font-weight:bold;
	font-size:31px;
	margin-top:33px;
	line-height:45px;
}

#volver a{
	color:white;
	text-decoration:none;
}

#volver a:hover{
	color:#CA740C;
}

#final_arriba{
	font-family:font1_negrita;
	font-size:21px;
	padding: 1px 0px 9px 45px;
	line-height:21px;
}

#video{
	margin-left:142px;
}

#indice{
	width:1050px;
	font-family:OpenSans;
	font-size:15px;
	background:url('../img_html/logo_blanco_40.png');
	background-repeat:no-repeat;
	background-size:550px;
	background-position:430px -230px;
	border-radius:3px;
	padding:13px 0 25px 0;
	margin:15px auto;
	padding-top:32px;
	background-color:rgba(255,255,255,0.8);
}
#titulo_indice_contenido{
	position:relative;
	left:40px;
	top:-21px;
	width:200px;
	height:10px;
	font-family:font1_negrita;
	font-size:33px;
	color:#1162ac;
	font-weight:bold;
	text-shadow:0 0 1px #1162ac;
}
#titulo_indice{
	margin-left:130px;
	position:relative;
	left:45px;
	top:-21px;
	width:200px;
	height:10px;
	font-family:font1_negrita;
	font-size:33px;
	color:#1162ac;
	font-weight:bold;
	text-shadow:0 0 1px #1162ac;
}
#indice a{
	color:#1162ac;
	text-decoration:none;
}
#indice a:hover{
	color:#CA740C;
}
#titulillo{
	position:relative;
	font-family:font1_negrita;
	font-size:27px;
	width:500px;
	border:0px;
	border-radius:5px;
	background:#1162ac;
	color:white;
	padding: 2px 0px 6px 15px;
	margin-top:42px;
	margin-bottom:30px;
}
#titulillo_largo{
	font-family:font1_negrita;
	font-size:27px;
	width:700px;
	border:0px;
	border-radius:8px 8px 8px 8px;
	background:#1162ac;
	color:white;
	padding: 2px 0px 6px 15px;
	margin-top:42px;
	margin-bottom:30px;
}
#titulo_aside{
	font-family:font1_negrita;
	font-size:22px;
	font-weight:bold;
	color:#B1C5D8;
	margin-bottom:16px;
	text-align:center;
}
#titulo_peque{
	background:url('../img_html/flecha_derecha.png');
	background-repeat:no-repeat;
	background-position:5px 11px;
	width:490px;
	font-family:font1_negrita;
	font-size:26px;
	font-weight:bold;
	color:#1162ac;
	padding-left:15px;
	margin-bottom:15px;
	margin-top:40px;
	margin-bottom:18px;
}
#titulo_peque_muy_largo{
	width:1200px;
	font-family:font1_negrita;
	font-size:20px;
	font-weight:bold;
	color:#7F785F;
	margin-bottom:15px;
	background-color:#D9D2BC;
	border-radius:6px;
	padding: 4px 0px 5px 35px;
	margin-top:40px;
	margin-bottom:18px;
}

#final_arriba a{
	color:white;
	text-decoration:none;
}

#final_arriba a:hover{
	color:#a69488;
}


#codigo{
	width:800px;
	font-size:15px;
	padding:1px 0px 1px 30px;
	margin-top:17px;
	margin-bottom:20px;
	border-radius:6px;	
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}
#codigo_corto{
	width:350px;
	font-size:15px;
	padding:1px 0px 9px 30px;
	border-radius:6px;
	margin-top:17px;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}
#codigo_largo{
	width:980px;
	font-size:15px;
	padding:1px 0px 1px 30px;
	border-radius:6px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}
#codigo_muy_largo{
	width:1200px;
	font-size:15px;
	padding:1px 0px 1px 30px;
	border-radius:6px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}
#codigo_muy_corto{
	width:260px;
	font-size:15px;
	padding:1px 0px 1px 30px;
	border-radius:6px;
	margin-top:17px;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}
#codigo_medio{
	width:650px;
	font-size:15px;
	color:#3e332f;
	padding:1px 0px 1px 30px;
	border-radius:6px;
	margin-top:17px;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 15px #B9C1CB, 0px 0px 5px #ADB8C4;
	background:#E3E6E9;
}

#sangria_35{
	padding-left:35px;
}

#ejemplo{
	width:355px;
	height:170px;
	border: 3px dotted #A4AE5E;
	border-radius:11px;
	background-color:#E5EBBD;
	font-family:OpenSans;
	font-size:15px;
	padding:5px 0px 5px 25px;
	margin:10px;
	overflow:auto;
}

header{
	position:relative;
	width:1050px;
	max-width:2000px;
	margin:0 auto;
}

#cabecera{
	position:relative;
	margin-top:32px;
	padding: 14px 0px 0px 197px;
	height:62px;
	font-family:font1_negrita;
	color:white;
	font-size: 35px;
	text-align:left;
	line-height:23px;
	background:url("../img_html/logo_html6_es.png");
	background-repeat:no-repeat;
	background-position:-2px -3px;
}


section {
	width:100%;
	font-family:OpenSans;
	font-size: 14px;
	text-align:left;
	color:black;
}

section a, #consulta a{
	text-decoration:none;
	font-weight:bold;
	color:#1162ac;
}

section a:hover{
	color:#CA740C;
}


aside {
	width:275px;
	float:right;
	font-family:OpenSans;
	font-size: 14px;
	text-align:left;
	margin-left:25px;
	margin-top:23px;
}
aside a{
	color:orange;
}

#aside1{
	padding: 21px 10px 20px 18px;
	border-radius:10px;
	background-color:#1162ac;
	margin-bottom:19px;
	color:white;
}
			
			

table {
	width:30%;
}
table th{
	text-align:center;
	width:10%;
	font-family:font1_negrita;
	font-size:18px;
	padding:4px 20px;
	border:1px solid #1162ac;
	border-radius:4px;
	background:#B1C5D8;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}
table td{
	border:0px solid white;
	text-shadow:2px 2px 5px rgba(0,0,0,0.2);
	font-family:OpenSans;
	padding:4px 20px;
	font-size:15px;
	text-align:center;
}

#celda1{
	width:68%;
	height:52px;
	border-radius:3px;
	padding-top:10px;
	padding-right:10px;
	background-color:#B1C5D8;
	margin-top:6px;
	color:black;
}

#imagen1{
	width:85px;
	padding-top:2px;
	padding-left:3px;
	float:left;
}
#imagen2{
	width: 75px;
	padding-left:10px;
	float:left;

}

#texto1{
	margin-right:26px;
}

#im1{
	border: 0px;
	width:540px;
	height:363px;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;
	-webkit-border-radius: 16px 16px 16px 16px;
	-o-border-radius: 16px 16px 16px 16px;
	background: url('../img_html/html5-estructura.gif');
	background-repeat:no-repeat;
	background-color:#c7c7c7;
	background-color:#23ffc9;
	margin:0 auto;
	margin-top:24px;
}

.terminos{
	column-count:3;
	-webkit-column-count:3;
	-moz-column-count:3;
	column-gap:30px;
	-webkit-column-gap:30px;
	-moz-column-gap:30px;
	column-rule: 4px double #A69488;
	-webkit-column-rule: 4px double #A69488;
	-moz-column-rule: 4px double #A69488;
	margin-left:40px;
	font-family:OpenSans;
	font-size: 14px;
	text-align:left;
	color:black;
}
#vacio_arriba{
	margin-top:39px;
	height:8px;
	background: url('../img_html/arriba.png');
	background-repeat:no-repeat;
}
#vacio_abajo{
	height:13px;
	background: url('../img_html/abajo.png');
	background-repeat:no-repeat;
}


#consulta{
	width:100%;
	margin-top:13px;
	margin-left:20px;
	margin-bottom:40px;
	background-color:rgba(255,255,255,0.3);
	display:none;
	font-family:OpenSans;
	font-size:14px;
	padding:12px 12px 12px 21px;
	border-radius:7px;
}

#consulta a:hover{
	text-decoration:none;
	font-weight:bold;
	color:black;
}
.rojo{
	color:#DF0101;
}
.verde{
	color:#027702;
}
.azul{
	color:blue;
}
.gris{
	color:#766B48;
}
#boton_ver {
	border:0;
	background: #2A5C7D;
	background: linear-gradient(top, #4CA0D9, #112634);
	background: -webkit-linear-gradient(top, #4CA0D9, #112634);
	background: -moz-linear-gradient(top, #4CA0D9, #112634);
	background: -ms-linear-gradient(top, #4CA0D9, #112634);
	background: -o-linear-gradient(top, #4CA0D9, #112634);
	padding: 9px 15px;
	border-radius: 7px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 15px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	margin-top:20px;
}
#boton_ver:hover {
	background: #1D6697;
	cursor:pointer;
}
#boton_ver:active {
	background:#153950;
}
#post{
	clear:both;
}
#fichero{
	font-family:font1_negrita;
	font-size:19px;
	color:white;
	background-color:darkorange;
	margin-top:-2px;
	margin-right:-1px;
	margin-left:-31px;
	border-radius:6px 6px 0 0;
	padding:4px 0px 5px 30px;
}
.bolilla_titulillo{
	color:white;
	font-size:28px;
}
#logos_cortados1{
	position:absolute;
	top:86px;
	left:960px;
}
#texto_footer a{
	color:white;
	text-decoration:none;
}
#texto_footer a:hover{
	color:orange;
}
#contingut{
	width:1050px;
	margin:0;
	padding:0;
	margin:0 auto;
	max-width:2000px;
}
.arribal{
	position:absolute;
	right:25px;
}
#lista{
	padding-left:45px;
	padding-top:19px;
	column-count:2;
	-webkit-column-count:2;
	-o-column-count:2;
	-moz-column-count:2;
	-ms-column-count:2;
}
#lista_sin_columnas{
	padding-left:45px;
	padding-top:19px;
}
#lista_sin_columnas_contenido{
	padding-left:45px;
	padding-top:19px;
}
footer{
	clear:both;
	position:relative;
	left:0px;
	width:100%;
	height:150px;						
	background:url('../img_html/fondo_azul_375.jpg');
	background-repeat:no-repeat;
	background-position:0 0;
	margin:75px 0 -10px 0;
	border-top:9px solid black;
}
#texto_footer{
	position:relative;
	color:white;
	font-family:OpenSans;
	font-size:14px;
	width:1050px;
	height:100px;
	margin:0 auto;
	background:url('../img_html/logos_abajo.png');
	background-repeat:no-repeat;
	background-position:270px -1px;
}
#flecha_azul{
	position:absolute;
	left:10px;
	top:-24px;
}
#herramienta{
	position:absolute;
	left:20px;
	top:177px;
}
#lista_sin_columnas{
   	margin-left:130px;
}
#vacio{
   	clear:both;
}
#enviar{
	background-color:#366E0E;
	border-radius:6px;
	border:1px solid #9BD174;
	padding:9px 22px;
	font-size:20px;
	color:white;
	font-family:font1_negrita;
	background:linear-gradient(top,#C2F39E,#366E0E,#71E91C);
	background:-webkit-linear-gradient(top,#C2F39E,#366E0E,#71E91C);
	background:-moz-linear-gradient(top,#C2F39E,#366E0E,#71E91C);
	background:-o-linear-gradient(top,#C2F39E,#366E0E,#71E91C);
	background:-ms-linear-gradient(top,#C2F39E,#366E0E,#71E91C);
}
#noenviar{
	background-color:#7F1001;
	border-radius:6px;
	border:1px solid #FCAEA4;
	padding:9px 22px;
	font-size:20px;
	color:white;
	font-family:font1_negrita;
	background:linear-gradient(top,#F8CBC5,#7F1001,#E35845);
	background:-webkit-linear-gradient(top,#F8CBC5,#7F1001,#E35845);
	background:-moz-linear-gradient(top,#F8CBC5,#7F1001,#E35845);
	background:-o-linear-gradient(top,#F8CBC5,#7F1001,#E35845);
	background:-ms-linear-gradient(top,#F8CBC5,#7F1001,#E35845);
}
#enviar:hover{
	cursor:pointer;
}
#noenviar:hover{
	cursor:pointer;
}